<div>
  <div>
  <%= f.text_field :name, :placeholder => "政党名" %>
  </div>
  <div>
  <%= f.text_area :detail, :placeholder => "詳細情報" %>
  </div>
  <div>
  <%= f.fields_for :policy_points do |point_form| %>
  <% end %> 
  </div>
  <div>
  <%= f.submit "次へ" %>
  </div>
</div>
