<div>
  <h1>いどばた。政治</h1>
  <p>このサイトは、政治にあまり関心のないそこの「あなた」が政治にもうちょっとだけ関心をもってくれること。それだけを願って作られました。</p>
  <ul>
    <li><%= link_to "みんなのマニフェスト", manifests_path %></li>
    <li><%= link_to "政党マッチング", matching_path%></li>
  </ul>
</div>
